transformers
datasets
lightning
pandas
matplotlib
scienceplots
hydra-core
omegaconf
# ipykernel # for jupyter notebook
# scipy
scikit-learn
wandb

# Optuna hyperparameter optimisation
optuna
optuna-integration[pytorch-lightning]
plotly # for visualisation
kaleido # for visualisation

textattack
sacremoses # recommended by textattack
