# python 3.12.3
transformers
datasets
lightning
pandas
matplotlib
scienceplots
omegaconf
# ipykernel # for jupyter notebook
# scipy
scikit-learn
wandb

# Optuna hyperparameter optimisation
optuna
optuna-integration[pytorch-lightning]
plotly # for visualisation
kaleido # for visualisation
